<div id="modal-overlay" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Action</h5>
        <button type="button" class="btn-close"></button>
      </div>

      <div class="modal-body">
        <p id="alert-message"></p>
      </div>

      <div id="alert-actions" class="modal-footer d-none">
        <button id="alert-ok" class="btn btn-danger">OK</button>
      </div>

    </div>
  </div>
</div>
