<div id="delete-component-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="delete-component-modal-title" class="modal-title">Confirm</h5>
        <button
          id="delete-component-modal-x-btn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <div id="delete-component-modal-message"></div>
      </div>

      <div class="modal-footer">
        <button
          id="delete-component-modal-cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button id="delete-component-modal-option-a" class="btn btn-danger">
          Option A
        </button>
        <button id="delete-component-modal-option-b" class="btn btn-warning">
          Option B
        </button>
      </div>
    </div>
  </div>
</div>
