{% extends "base.html" %} {% block title %}Create Recipe{% endblock %} {% block
content %}
<div class="p-2 p-lg-3 p-xl-5">
  <h2 class="mb-3 mb-lg-4">Create Recipe:</h2>

  <!-- Recipe information -->
  <div class="mb-3 mb-lg-4">
    <!-- Recipe details-->
    <!-- first line -->
    <div class="row mb-2 mb-lg-3">
      <div class="col-1">
        <label for="recipeName" class="col-form-label">Name :</label>
      </div>
      <div class="col-11 me-auto">
        <input
          type="text"
          id="recipeName"
          class="form-control"
          aria-describedby=""
        />
      </div>
    </div>
    <!-- second line -->
    <div class="row mb-2 mb-lg-3">
      <div class="col-1">
        <label for="portionSize" class="col-form-label">Portion Size :</label>
      </div>
      <div class="col-9">
        <input
          type="text"
          id="portionSize"
          class="form-control"
          aria-describedby=""
          placeholder="2 portion, 1.5 kg, 4 people, etc., "
        />
      </div>
      <div class="col-1 text-end">
        <label for="privacy" class="col-form-check-label">Privacy:</label>
      </div>
      <div class="col-1 form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="privacy"
          checked
        />
      </div>
    </div>
    <!-- third line -->
    <div class="mb-2 mb-lg-3">
      <div class="col-auto">
        <label for="description" class="col-form-label">Description :</label>
      </div>
      <div class="col-auto">
        <textarea
          id="description"
          class="form-control"
          placeholder="Describe you recipe...... "
          rows="4"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- ingredients and steps information -->
  <div class="mb-3 mb-lg-4">
    <!-- tabs for ingredients and steps -->
    <ul class="nav nav-tabs d-flex recipe-tabs">
      <li class="nav-item flex-fill">
        <a
          class="nav-link active ingredient-tabs"
          data-tab="ingredient-tabs"
          aria-current="page"
          >Ingredients</a
        >
      </li>
      <li class="nav-item flex-fill">
        <a class="nav-link step-tabs" data-tab="step-tabs" aria-current="page"
          >Steps</a
        >
      </li>
    </ul>

    <div class="p-2 tab-page">
      <!-- INGREDIENTS tab page -->
      <div id="ingredients-tab">
        <!--  section to add button to add first row for component & Total cost of recipe -->
        <div class="d-flex justify-content-between mb-2">
          <div>
            <button id="add-first-component-btn" class="btn btn-primary">
              Add Sub Heading at start
            </button>
          </div>
          <div class="fs-3 pe-5">Cost: £ <span id="totalCost">0.00</span></div>
        </div>

        <!-- ingredients details in table-->
        <div class="">
          <table
            id="recipeList"
            class="table table-bordered table-hover table-fixed"
          >
            <colgroup>
              <col style="width: 10%" />
              <!-- action move-->
              <col style="width: 25%" />
              <!-- Ingredient name -->
              <col style="width: 10%" />
              <!-- Quantity input -->
              <col style="width: 10%" />
              <!-- Unit select -->
              <col style="width: 8%" />
              <!-- Price override input -->
              <col style="width: 10%" />
              <!-- Base Quantity -->
              <col style="width: 10%" />
              <!-- Base Unit -->
              <col style="width: 12%" />
              <!-- Base Price -->
              <col style="width: 5%" />
              <!-- Actions remove -->
            </colgroup>

            <thead class="table-dark">
              <tr>
                <th>Action</th>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Base Quantity</th>
                <th>Base Unit</th>
                <th>Base Price</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody id="ingredients-tbody">
              <tr class="component-row" style="display: none">
                <td></td>

                <td
                  colspan="7"
                  style="background-color: #f2f2f2; font-weight: bold"
                >
                  <input
                    type="text"
                    name="component_text_0"
                    class="component-input"
                    placeholder="Sub Heading: (e.g., Sauce, Base)"
                    style="width: calc(2 * 100% / 6)"
                  />
                  <div class="error-create-recipe" id="errorCompText_0"></div>
                </td>

                <td>
                  <button
                    class="btn btn-sm btn-outline-danger remove-component-btn"
                  >
                    <i class="bi bi-trash remove-component-btn"></i>
                  </button>
                </td>
              </tr>

              <tr class="ingredient-row">
                <td>
                  <div>
                    <div
                      class="d-flex"
                      style="justify-content: center; gap: 0.5rem"
                    >
                      <div
                        class="btn btn-sm btn-outline-success bi bi-arrow-up move-ing-up-btn"
                        style="display: none"
                      ></div>
                      <div
                        class="btn btn-sm btn-outline-success bi bi-arrow-down move-ing-down-btn"
                        style="display: none"
                      ></div>
                    </div>
                  </div>
                </td>

                <td>
                  <input
                    type="text"
                    name="ingredient_name_1"
                    class="form-control form-control-sm"
                    placeholder="Eg. Milk"
                    autocomplete="off"
                  />
                  <div class="suggestions" id="suggestions_1"></div>
                  <div class="error-create-recipe" id="errorIngName_1"></div>
                </td>

                <td>
                  <input
                    type="number"
                    step="0.001"
                    name="quantity_1"
                    class="form-control form-control-sm"
                    min="0.000"
                  />
                  <div class="error-create-recipe" id="errorQuantity_1"></div>
                </td>

                <td>
                  <select
                    name="unit_1"
                    class="form-select form-select-sm unit-select"
                  >
                    <option value="">Select unit</option>
                  </select>
                  <div class="error-create-recipe" id="errorUnit_1"></div>
                </td>

                <td class="cost-input"></td>

                <td>
                  <input
                    type="number"
                    step="any"
                    name="base_quantity_1"
                    class="form-control form-control-sm validated-number"
                    placeholder="Base Qty"
                    min="0.000"
                  />
                  <div
                    class="error-create-recipe"
                    id="errorBaseQuantity_1"
                  ></div>
                </td>

                <td>
                  <select
                    name="base_unit_1"
                    class="form-select form-select-sm unit-select"
                  >
                    <option value="">Select unit</option>
                  </select>
                  <div class="error-create-recipe" id="errorBaseUnit_1"></div>
                </td>

                <td>
                  <input
                    type="number"
                    step="0.001"
                    name="base_price_1"
                    class="form-control form-control-sm validated-number"
                    placeholder="Base Qty"
                    min="0.000"
                  />
                  <div class="error-create-recipe" id="errorBasePrice_1"></div>
                </td>

                <td style="text-align: center">
                  <div
                    class="btn btn-sm btn-outline-danger bi bi-trash remove-ingredient-btn"
                  ></div>
                </td>
              </tr>

              <tr class="ingredient-row">
                <td>
                  <div>
                    <div
                      class="d-flex"
                      style="justify-content: center; gap: 0.5rem"
                    >
                      <div
                        class="btn btn-sm btn-outline-success bi bi-arrow-up move-ing-up-btn"
                        style="display: none"
                      ></div>
                      <div
                        class="btn btn-sm btn-outline-success bi bi-arrow-down move-ing-down-btn"
                        style="display: none"
                      ></div>
                    </div>
                  </div>
                </td>

                <td>
                  <input
                    type="text"
                    name="ingredient_name_2"
                    class="form-control form-control-sm"
                    placeholder="Eg. Milk"
                    autocomplete="off"
                  />
                  <div class="suggestions" id="suggestions_2"></div>
                  <div class="error-create-recipe" id="errorIngName_2"></div>
                </td>

                <td>
                  <input
                    type="number"
                    step="0.001"
                    name="quantity_2"
                    class="form-control form-control-sm"
                    min="0.000"
                  />
                  <div class="error-create-recipe" id="errorQuantity_2"></div>
                </td>

                <td>
                  <select
                    name="unit_2"
                    class="form-select form-select-sm unit-select"
                  >
                    <option value="">Select unit</option>
                  </select>
                  <div class="error-create-recipe" id="errorUnit_2"></div>
                </td>

                <td class="cost-input"></td>

                <td>
                  <input
                    type="number"
                    step="any"
                    name="base_quantity_2"
                    class="form-control form-control-sm validated-number"
                    placeholder="Base Qty"
                    min="0.000"
                  />
                  <div
                    class="error-create-recipe"
                    id="errorBaseQuantity_2"
                  ></div>
                </td>

                <td>
                  <select
                    name="base_unit_2"
                    class="form-select form-select-sm unit-select"
                  >
                    <option value="">Select unit</option>
                  </select>
                  <div class="error-create-recipe" id="errorBaseUnit_2"></div>
                </td>

                <td>
                  <input
                    type="number"
                    step="0.001"
                    name="base_price_2"
                    class="form-control form-control-sm validated-number"
                    placeholder="Base Qty"
                    min="0.000"
                  />
                  <div class="error-create-recipe" id="errorBasePrice_2"></div>
                </td>

                <td style="text-align: center">
                  <div
                    class="btn btn-sm btn-outline-danger bi bi-trash remove-ingredient-btn"
                    style="display: none"
                  ></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- add new component button -->
        <div>
          <div id="add-component-btn" class="btn btn-primary action-btn">
            Add Sub Heading
          </div>
        </div>
      </div>

      <!-- STEPS tab page -->
      <div id="steps-tab" style="display: none">
        <div class="fs-4 mb-2">Recipe Prodecure</div>

        <div>
          <table
            id="stepsTable"
            class="table table-bordered table-hover table-fixed"
          >
            <colgroup>
              <col style="width: 10%" />
              <!-- action move-->
              <col style="width: 4%" />
              <!-- Sr No -->
              <col style="width: 70%" />
              <!-- Steps Description -->
              <col style="width: 12%" />
              <!-- time -->
              <col style="width: 4%" />
              <!-- Actions remove -->
            </colgroup>

            <thead class="">
              <tr>
                <th>Action</th>
                <th>Step.</th>
                <th>Step Description</th>
                <th>Time</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody id="steps-tbody">
              <tr>
                <td>
                  <div
                    class="d-flex"
                    style="justify-content: center; gap: 0.5rem"
                  >
                    <i
                      class="btn btn-sm btn-outline-success bi bi-arrow-up move-step-up-btn"
                    ></i>
                    <i
                      class="btn btn-sm btn-outline-success bi bi-arrow-down move-step-down-btn"
                    ></i>
                  </div>
                </td>

                <td>
                  <div class="step-no text-end">1</div>
                </td>

                <td>
                  <textarea
                    name="recipe_step_1"
                    class="form-control form-control-sm"
                    placeholder=""
                    autocomplete="off"
                    rows="1"
                  ></textarea>
                  <div class="error-create-recipe" id="errorRecipeStep_1"></div>
                </td>

                <td>
                  <input
                    type="time"
                    name="step_time_1"
                    class="form-control form-control-sm"
                  />
                  <div class="error-create-recipe" id="errorStepTime_1"></div>
                </td>

                <td style="text-align: center">
                  <div
                    class="btn btn-sm btn-outline-danger bi bi-trash remove-step-btn"
                    style="display: none"
                  ></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="f-flex g-2 text-end">
    <div id="cancel-btn" class="btn btn-light">Cancel</div>
    <div id="save-recipe-btn" class="btn btn-success">Save Recipe</div>
  </div>

  <!-- Error message -->
  <div id="error" class="alert alert-danger mt-3 d-none"></div>
</div>

{% include "recipes/bs/_delete_component_modal.html" %} {% endblock %} {% block
scripts %}

<!-- Page Script -->
<script
  type="module"
  src="/static/js/features/recipes/create-recipe-bs.js"
></script>
{% endblock %}
