<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Weekly Plans</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="recipes-page">
  <div class="nav-container">
    <div class="user-links">
      <a href="/recipes/my" class="my-recipes">My Recipes</a>
      <a href="" class="my-recipes">Food PLan</a>
      <a href="/dishes/" class="my-recipes">Dishes Created</a>
    </div>
    <div class="admin-options">
      <a href="/admin/ingredients" class="admin-link">Ingredients</a>
      <a href="/admin/recipes" class="admin-link">Recipes</a>
      <a href="/admin/users" class="admin-link">Users</a>
      <a href="/admin/dishes" class="admin-link">Dishes</a>
    </div>
  </div>

  <!-- Centered button -->
  <div id="plan-btn" class="center-content">
    <button class="action-btn edit-btn plan-btn" >Plan Your Weekly Schedule Now – Just One Click!</button>
  </div>

  <div class="week-row">
    <div class="box week-box">Week 1</div>
    <div class="box day-box">Day 1</div>
    <div class="box day-box">Day 2</div>
    <div class="box day-box">Day 3</div>
    <div class="box day-box">Day 4</div>
    <div class="box day-box">Day 5</div>
    <div class="box day-box">Day 6</div>
    <div class="box day-box">Day 7</div>
  </div>

  <div id="error"> </div>
  
</body>