<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Ingredient</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="recipes-page">
  <div class="nav-container">
    <div class="admin-options">
      <a href="/admin/ingredients" class="admin-link">Ingredients</a>
      <a href="/admin/recipes" class="admin-link">Recipes</a>
      <a href="/admin/users" class="admin-link">Users</a>
      <a href="/admin/dishes" class="admin-link">Dishes</a>
    </div>
    <a href="/recipes/" class="my-recipes">Recipes</a>
  </div>
  <h2>Edit Ingredient</h2>
  <table id="ingredientEdit">
    <tr>
      <td><strong>Name:</strong></td>
      <td><input type="text" id="ingredientName" name="name"></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Reference Quantity:</strong></td>
      <td><input type="number" id="referenceQuantity" name="reference_quantity"></td>
      <td><strong>Reference Unit:</strong> <input type="text" id="referenceUnit" name="reference_unit"></td>
      <td><strong>Default Price:</strong> <input type="number" id="defaultPrice" name="default_price"></td>
    </tr>
    <tr>
      <td><strong>Cup Weight:</strong></td>
      <td><input type="number" id="cupWeight" name="cup_weight" ></td>
      <td><strong>Cup Unit:</strong> <input type="text" id="cupUnit" name="cup_unit"></td>
    </tr>
    <tr>
      <td><strong>Notes:</strong></td>
      <td colspan="2"><textarea id="notes" name="notes" rows="4" style="width: 100%;"></textarea></td>
    </tr>
  </table>
  <button class="action-btn edit-btn" id="saveIngredient">Save</button>
  <a href="/admin/ingredient/details/{{ ingredient_id }}" class="back-link">Cancel</a>
  <div id="error" class="error"></div>
  

  <script>
    window.ingredientId = window.location.pathname.split("/").pop(); // window coz to send ingredientId in js    
    </script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/edit-ingredient.js" defer></script>
</body>
</html>