<!-- Global Confirm / Alert Modal -->
<div id="global-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="global-modal-title" class="modal-title">Confirm</h5>
        <button
          id="global-modal-x-btn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <p id="global-modal-message"></p>
      </div>

      <div class="modal-footer">
        <button
          id="global-modal-cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button id="global-modal-ok" class="btn btn-danger">OK</button>
      </div>
    </div>
  </div>
</div>
