<nav class="navbar navbar-expand-lg bg-success-subtle">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- LEFT: User Menu -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/recipes/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes/my">My Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plans/">Food Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dishes/">Dishes Created</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_ingredients/">My Ingredients</a>
          </li>
        </ul>

        {% if current_user and current_user.role == "admin" %}
        <!-- Divider (ONLY when collapsed) -->
        <hr class="w-100 d-lg-none my-2">

        <!-- RIGHT: Search + Admin -->
        <div class="d-flex flex-column flex-lg-row ms-auto gap-3">

          <!-- Search (fixed width) -->
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control form-control-sm navbar-search"
              type="search"
              placeholder="Recipe name...."
              aria-label="Search"
              style="width: 250px;"
            />
          </form> -->

            <!-- Admin Menu (expanded view) -->
            <ul id="nav-ex" class="navbar-nav admin-menu d-lg-flex gap-lg-1">
                <li class="nav-item">
                <a class="nav-link link-danger" href="/admin/ingredients">Ingredients</a>
                </li>
                <li class="nav-item">
                <a class="nav-link link-danger" href="/admin/recipes">Recipes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link link-danger" href="/admin/users">Users</a>
                </li>
                <li class="nav-item">
                <a class="nav-link link-danger" href="/admin/dishes">Dishes</a>
                </li>
            </ul>

        </div>
        {% endif %}
        
            
      </div>

    </div>
</nav>